APPWRITE_ENDPOINT=
APPWRITE_API_KEY=
APPWRITE_BUCKET_ID=
APPWRITE_PROJECT_ID=
VITE_INSTRUMENTATION_SCRIPT_SRC=

# M-Pesa Sandbox
MPESA_CONSUMER_KEY=
MPESA_CONSUMER_SECRET=
MPESA_SHORTCODE=
MPESA_INITIATOR_NAME=
MPESA_INITIATOR_PASSWORD=
MPESA_SECURITY_CREDENTIAL=
MPESA_PASSKEY=
MPESA_CALLBACK_URL=
MPESA_ENV=sandbox
